.container{
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.item-info{
  padding: 2rem;
}

.related-info{
  /* justify-content: space-between; */
}

.item-video{

}

.item-details h2{
  color: red;
}

.related-box{
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-auto-rows: 1fr 1fr 1fr;
  gap: 1rem;
  row-gap: 1em;
}

