/* nav */
.navbar{
  background: #111;
  padding: 0.75rem 1rem;
  /* height: var(--navbar-height); */
  /* border: 1px solid #000;
  border-left: none;
  border-right: none; */


}

/* nav ul{ */
.navbar-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  /* align-items: center; */
}

/* nav ul li.logo{ */
.logo{
  display: none;
}

/* nav ul div.items-container{ */
/* .items-container{
  display:none;
} */

.items-container{
  position: fixed;
  top: 50px;
  left: -100%;
  background: #111;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: block;

  /* left: -100%;
  display: flex;
  justify-content: flex-end;
  flex: 4;
  transition: all 0.3s ease; */
}

/* nav ul div.items-container li{ */
.items-container li{
  padding: 0 0.5rem;
}

/* nav ul div.items-container li:hover{ */
.items-container li:hover{ 
  color: red;
  cursor: pointer
}

/* nav ul .search-bar{ */
.search-bar{
  /* position: absolute; 
  right: 0.5em; */

  /* height: 40px;
  width: 240px;  */
  display: flex;
  align-items: center;
  /* align-self: flex-end; */
  /* justify-content: flex-end; */
  border-radius: 3px;
  background: #f1f1f1;
}

/* nav ul .search-bar input{ */
.search-bar input{   
  /* height: 100%;
  width: 200px; */
  border: none;
  outline: none;
  /* padding: 0 10px; */
  color: #000;
  /* font-size: 16px; */
  border-radius: 5px 0 0 5px;
}

/* nav ul .search-bar .icon{ */
/* .search-bar .icon{  */
.icon{ 
  /* height: 100%;
  width: 40px; */
  /* line-height: 40px; */
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
}

/* nav ul .search-bar .icon:hover{ */
/* .search-bar .icon:hover{ */
.icon:hover{
  background: red;
  cursor: pointer;
}

/* nav ul .search-bar .icon span{ */
/* .search-bar .icon span{ */
.icon span{
  color: #111;
  font-size: 18px;
}

.menu-btn{
  font-size: 1.5em;
  align-self: center;
  /* display: flex; */
  /* align-self: flex-start; */
  /* align-items: center; */
  /* justify-content: space-around; */
  /* position: absolute; */
  /* left: 0.5em; */
}

input[type="checkbox"]{
  display: none;
}

#click:checked ~ .menu-btn i:before{
  content: "\f00d";
}

#click:checked ~ .items-container{
  left: 0;
}

.items-container li{
  width: 100%;
  margin: 40px 0;
  margin-left: -100%;
  display: block;
  /* font-size: 20px; */
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#click:checked ~ .items-container li {
  margin-left: 0px;
}

@media all and (min-width: 768px) {
  /* se aplica cuando sube de 768 */
  nav {
    /* TODO: Esto vale??*/
    padding: 10px 40px 10px 0px;
  }

  .items-container{
    position: initial;
    height: auto;
    left: 0;
    display: flex;
    justify-content: flex-end;
    flex: 4;
    /* padding: 0 0.2rem; */
  }

  .items-container li{
    margin: 0 5px;
  }

  
  /* nav ul li.logo{ */
  .logo{
    display: initial;
    /* flex: 1 1 0. Los ítems pueden crecer o encoger con un flex-basis de 0 */
    flex: 1;
    font-size: 1.5em;
    color: red;
  }

  .menu-btn{
    display: none;
  }
}

/* @media (min-width: 768px) { */
  /* se aplica cuando sube de 768 */
  /* nav {
    border: 3px solid red
  }
} */