/* .container-video{
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
}

.video{
  position: absolute;
  width: 100%;
}  */

.container {
  background-color: #000;
  color: #fff;
  background: url('../../assets/movies/godfather.jpg') center center no-repeat;
  background-size: cover; 
  object-fit: cover;
  min-height: 100vh;
}

.logo {
  align-self: flex-start;
  margin-left: 2vw;
  margin-top: 2vh;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 12, 12, 0.5);
  margin: 5% 10%;
  padding-bottom: 1.5rem;
}

.login input{
  width: 80%;
  background: #333;
  border-radius: 5px;
  color: white;
  line-height: 2rem;
  margin-top: 0.75rem;
}

.login input[type='submit'] {
  background: linear-gradient(to right, #ee6262, #f54040, rgb(255, 0, 0)); 
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.footer{
  position: absolute;
  bottom: 0px;  
}

.title{
  font-size: 1.3rem;
}

